@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url('@/assets/fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url('@/assets/fonts/Roboto-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  font-display: swap;
  src: url('@/assets/fonts/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  font-display: swap;
  src: url('@/assets/fonts/OpenSans-SemiBold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  font-display: swap;
  src: url('@/assets/fonts/OpenSans-Bold.ttf');
  font-weight: 900;
  font-style: normal;
}
